body {
    font-family:sans-serif;
    background-image: url('../xx.jpg');
   background-size: cover;
   background-position: center center;
   position: relative;
   top: 0;
   bottom: 0;
   height: 200vh;
   z-index: -10;
   position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 
 
}

h1
{
    text-align:center;
    color:darkred;
    margin:30px 0 50px;
}
.gallary
{
    margin:10px 10px;
}

.gallary img{
    width:230px;
    padding:5px;
    filter:grayscale(100%);
    transition:1s;
}
.gallary img:hover
{
    filter:grayscale(0);
    transform:scale(1.1);
}
.container
{
    position: relative;
    width:800px;
    height: 300px;
    margin: 50px auto;
    background: #000;
}
.container .box
{
    position: relative;
    width: calc(800px - 30px);
    height: calc(300px - 30px);
     background: #ff3772;
    float: left;
   margin: 15px;
   box-sizing: border-box;
   overflow: hidden;
   border-radius: 10px;

}
ol
{
    position: relative;
    width: 450px;
    margin: 10px auto 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.1);
    box-shadow: inset 0 0 15px rgba(0,0,0,.2);
    
}

ol li
{
    padding: 10px 20px;
    margin: 5px 0;
    transition: .5s;

}

ol li:nth-child(1)
{
    background: rgba(255,255,255,.6);
}
ol li:nth-child(2)
{
    background: rgba(255,255,255,.4);
}
ol li:nth-child(3)
{
    background: rgba(255,255,255,.2);
}
ol li:hover
{
    transform: scale(1.06);
    background: #ff3772;
}
h2
{
    text-align: center;
    color: green;
    background:#000040;
}